name: Azure Container Instances

on:
  push:
  workflow_dispatch:

env:
  AZURE_RESOURCE_GROUP: github-actions-containers
  AZURE_ACR_NAME: cbtnuggets123

jobs:
  azure-aci:
    runs-on: ubuntu-latest
    steps:
    - name: Authenticate to Microsoft Azure
      run: |
        az login --username ${{ secrets.AZURE_APP_REGISTRATION }} --password ${{ secrets.AZURE_APP_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }} --service-principal
    - name: Create Azure Container Registry
      run: |
        az acr create --resource-group ${{ env.AZURE_RESOURCE_GROUP }} --name ${{ env.AZURE_ACR_NAME }} --sku Basic
    - name: Authenticate to Azure Container Registry
      run: |
        az acr login --name ${{ env.AZURE_ACR_NAME }} 
